.price-in-rub {
    /* font-family: 'Forward-extra' !important; */
    font-family: 'Forward' !important;
}

.currency {
    margin-right: 3vw !important;
    font-family: 'Forward' !important;
    margin-left: 0.2em;
    position: relative;
}

.currency::after {
    content: '';
    position: absolute;
    width: 0.3em;
    height: 0.3vh;
    left:-0.01em;
    top:.63em;
    background-color: black;
}