.header-wrapper {
    display: flex;
    /* border: 1px solid salmon; */
    justify-content: space-between;
    padding: 4vw var(--mega-padding) 0vw var(--mega-padding);
    position: relative;
    /* z-index: 0; */
}

.tagline {
    height: 5vw;
    width: 23.750vw;
    background-image: url(~/icons/tagline.svg);
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    display: flex;
    flex:0.85;
    align-self: center;
}

.logo {
    height: 13vw;
    background-image: url(~/icons/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid salmon; */
    flex:0.65;
    background-position: right;
}

/* @media all and (max-width: 865px) {

    .tagline {
        height: 5vw;
        width: 23.750vw;
        display: flex;
        flex:0.85;
        position: absolute;
        right:7vw;
    }

    .logo {
        height: 5vh;
        width: 5vh;
        flex:0.65;
        background-position: right;
        right:7vw;
        top:12vw;
    }
} */