.carousel-wrapper {
    width: 88%;
    margin: 0 auto;
    margin-bottom: 8vw;
    margin-top: 6vw;
    border: 1px solid salmon;
  }
  .carousel-wrapper h1 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4.6875vw;
    line-height: 4.6875vw;
    letter-spacing: 0.046875vw;
    color: #333333;
    margin-bottom: 4.76vw;
  }
  
  .feedbacks-wrapper {
    white-space: nowrap;
    scroll-snap-type: x mandatory;

  }

  .feedback {
    display: inline-block;
    scroll-snap-align: start;
    white-space: normal;
    position: relative;
    overflow-y: hidden;
    background-color: #ffacc7;
  }
  .feedback .user-info-wrapper {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 20vw;
    overflow-y: hidden;
    padding: 0vw;
  }
  .feedback .data-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .feedback .user-info-wrapper p {
    font-weight: 300;
    font-size: 1.25vw;
    line-height: 1.875vw;
    width: 60%;
    word-wrap: break-word;
    margin-top: -0.32em;
  }
  .user-info-wrapper h2 {
    margin-top: 7vw;
    margin-bottom: 0.6vw;
    font-size: 1.32vw;
    font-weight: bold;
  }
  
  .user-info-wrapper h4 {
    font-size: 1.09vw;
    color: #7b7b7b;
    font-weight: 300;
    letter-spacing: 0.015em;
    padding-top: 0.25em;
  }
  .feedback .photo {
    height: 100%;
    width: 35%;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    background-position-y: 65%;
    box-shadow: 0px 4px 16px rgba(23, 107, 192, 0.1);
  }
  