.carousel-wrapper-novelties {
    width: 85.5%;
    margin-bottom: 10vw;
    /* border: 1px solid salmon; */
}

	.novelty-wrapper {
		white-space: nowrap;
		scroll-snap-type: x mandatory;
	}

		.novelty-wrapper .carousel {
			height: 32vw;
		}

			.novelty-wrapper .carousel-item {
				/* margin: 3vw; */
			}

				.novelty-wrapper .carousel-item > * { 
					margin:4vw;
					width:20.5vw;
					display: flex;
				}

					.novelty {
						display: inline-block;
						scroll-snap-align: start;
						white-space: normal;
						position: relative;
						overflow-y: hidden;
						/* background-color: #ffacc7; */
						box-shadow: 0vw 0vw 1.9vw rgba(0, 0, 0, 0.205);
					}

						.novelty-image {
							/* box-shadow: var(--global-shadow); */
							width: 100%;
							background-size: 80% 70%;
							background-repeat: no-repeat;
							background-position: center center;
						}


@media all and (max-width: 665px) { 
	
	.carousel-wrapper-novelties {
		width: 91.4%;
		/* border: 1px solid salmon; */
	}

		.novelty-wrapper .carousel {
			height: 77vw;
			/* border: 1px solid salmon; */
		}

				.novelty-wrapper .carousel-item > * { 
					margin:2vw;
					width:85vw;
					/* border: 1px solid salmon; */
				}

}


@media all and (max-width: 455px) { 
	
	.carousel-wrapper-novelties {
		width: 92.4%;
		/* border: 1px solid salmon; */
	}

		.novelty-wrapper .carousel {
			height: 77vw;
			/* border: 1px solid salmon; */
		}

				.novelty-wrapper .carousel-item > * { 
					margin:2vw;
					width:88.5vw;
					/* border: 1px solid salmon; */
				}

}