.carousel-wrapper-novelties {
	margin-bottom: 10vw;
	width: 90vw;
}

	.novelty-wrapper {
		white-space: nowrap;
		scroll-snap-type: x mandatory;
	}

		.novelty-wrapper .carousel {
			height: 32vw;
		}

			.novelty-wrapper.carousel-scroller {

			}

				.novelty-wrapper .carousel-item {
					/* width: 50vw; */
				}

					.novelty-wrapper .carousel-item > * { 
						margin:4vw;
						width:22vw;
						display: flex;
					}

						.novelty {
							display: inline-block;
							scroll-snap-align: start;
							white-space: normal;
							position: relative;
							overflow-y: hidden;
							box-shadow:  0vw 0vw 4vw rgba(0, 0, 0, 0.08), 0vw 0vw 1vw rgba(0, 0, 0, 0.1);
						}

							.novelty-image {
								width: 100%;
								background-size: contain;
								background-repeat: no-repeat;
								background-position: center center;
							}


@media all and (max-width: 665px) { 
	
	.carousel-wrapper-novelties {
		width: 91.4%;
	}

		.novelty-wrapper .carousel {
			height: 77vw;
		}

			.carousel-wrapper-novelties .back {
				left:0 !important;
				width: 1vw !important;
			}

			.carousel-wrapper-novelties .forward {
				right:0 !important;
				width: 1vw !important;
			}

				.novelty-wrapper .carousel-item > * { 
					margin:2vw;
					width:85vw;
				}

				.novelty {
					box-shadow:  0vw 0vw 2.5vw rgba(0, 0, 0, 0.08), 0vw 0vw 1vw rgba(0, 0, 0, 0.1);
				}

}


@media all and (max-width: 455px) { 
	
	.carousel-wrapper-novelties {
		width: 92.4%;

	}

		.novelty-wrapper .carousel {
			height: 77vw;
		}

				.novelty-wrapper .carousel-item > * { 
					margin:2vw;
					width:88.5vw;
				}

}