.items-wrapper {
    width:100%;
    position:relative;
}

    .items-container {
        display: grid;
        grid-area: auto;
        border:1px solid salmon;
        grid-template-columns: 30vw;
        grid-template-rows: 30vw;
        /* justify-content: center; */
    }

        .product-item {
            /* width:30vw; */
            /* height: 30vw; */
            background-repeat: no-repeat;
            background-size: cover;
            border:1px solid salmon;
            /* grid-column: 3;
            grid-row: 2; */
        }