.item-wrapper  {
	position: relative;
	height: 100%;
	display: flex;
	align-self: stretch;
	justify-content: center;
	align-items: center;
}

.item-container {
    display: grid;
    grid-template-columns: 41vw 38.3vw;
    grid-gap: 6vw;
    margin: var(--global-padding);
	width: 86vw;
	height: 55vh;
	margin: 0vw auto;
	margin-bottom:5%;
	position: relative;
  }
  
	.illustration {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		box-shadow: 0vw 0vw 1.6vw 0.5vw rgba(0, 0, 0, 0.11);
		display: grid;
		position: relative;
	}


	.item-info {
		display: flex;
		flex-direction: column;
		/* border: solid rgb(255, 0, 128) 1px; */
		justify-content: space-between;
		
	}

		.item-info ul {
			display: flex;
			flex-direction: column;
			position: relative;
			font-size: 2.5vh;
		}

		.item-info button {
			display: flex;
			justify-content: center;
			padding: 0.5em;
			font-size: 5vh;
			font-family: 'Fractal';
			border-radius: 1vw;
			outline: none;
			border: 2px solid black;
			position: relative;
			cursor: pointer;
			text-align: center;
			position: relative;
			background-color: white;
			box-shadow: 0vw 0vw 2.0vw 0.3vw rgba(0, 0, 0, 0.068);

		}

			.item-info li {
				padding-bottom: 1em;
				display: flex;
			}

				.item-info li label {
					font-family: 'Forward' ,sans-serif;
					padding-right: 1.2em;
					flex: 1;
				}

				.item-info li span,
				.item-info li .products-colors { 
					flex: 2.0;
				}

				.item-info li .products-colors {
					display: flex;
					flex-direction: row;
				}

					.item-info li .products-colors > *{
						width: 1.4vw;
						height: 1.4vw;
						border-radius: 50%;
						margin-right: 0.4vw;
					}


@media all and (max-width: 665px) {
	
	.item-container {
		grid-template-columns: 100%;
	}

	.illustration {
		height: 70vw;
	}

		.item-info ul {
			font-size: 3.3vh;
		}

				.item-info li .products-colors > *{
					width: 2.4vh;
					height: 2.4vh;
					border-radius: 50%;
					margin-right: 1vh;
				}

		.item-info button {
			margin-top: 1em;
			margin-bottom: 1em;
			font-size: 5vw;
			padding: 4vw;
			border-radius: 2vw;
		}
}

  