.item-wrapper {
    display: grid;
    grid-template-columns: 41vw 41vw;
    grid-gap: 4vw;
    margin: var(--global-padding);
    width: 86vw;
    margin: 1vw auto;
    border: solid rgb(255, 0, 128) 1px;
  }
  
  .illustration {
    background-color: pink;
    border: solid rgb(255, 0, 128) 1px;
    padding: 4vw;
  }

  
  .item-info {
    display: flex;
    /* flex: 1; */
    padding: 4vw;
    /* margin: 4vw; */
    border: solid rgb(255, 0, 128) 1px;
    background-color: rgba(115, 148, 255, 0.555);
  }
  