@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  a,
  area,
  button,
  input,
  label,
  select,
  summary,
  textarea,
  [tabindex] {
    touch-action: manipulation;
  }

  svg:not([fill]) {
    fill: currentColor;
  }
  
  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  .sr-only--focus:focus {
    position: static;
    width: auto;
    height: auto;
  }

/* .menu-container {
  position: relative;
  z-index: 10;
} */

.menu {
    position: relative;
    display: flex;
    margin: 0vw 23vw;
    font-weight: 100;
    font-family: sans-serif;
    top:-1.35vw;
    opacity: 0.66;
    font-family: 'Forward-extra';
    z-index: 10;
}

    .menu ul {
        display: flex;
        white-space: nowrap;
        justify-content: space-between;
        /* border: 1px solid salmon; */
        width: 100%;
        padding-bottom: 1.5vw;
    }

        .menu a, .menu ul > * {
            display: flex;
            /* border:solid 1px salmon; */
            font-size:1.3vw;
            cursor: pointer;
            color:black;
            text-transform: uppercase;
            user-select: none;
        }

        a.menu-item-about {
            /* color:pink; */
        }

        a .active {
            color:rgb(255, 0, 43);
            transform: scale(2);
        }

    .dropdown-menu-container {
        width: 100%;
        height: 28vw;
        position: absolute;
        background-image: url(~/icons/dropdownMenu.svg);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 12;
        opacity: 0;
        padding: 0vw 23vw;
        display: none;
    } 

    .dropdown-menu-container.visible {
        opacity: 1;
        display: flex;
    }

        .dropdown-menu {
            display: flex;
            position: relative;
			top:0%;
			color:rgb(0, 0, 0);
        }

            .dropdown-menu > div {
                margin-right:9vw;
                padding-top:0.5vw;
				font-size: 1.1vw;
            }

            .dropdown-menu label {
                color:rgb(0, 0, 0);
                font-weight: bold;
                font-family: 'Forward';
                padding-bottom: 1.5vw;
                display: inline-block;
            }

			.dropdown-menu ul a,
			.categories ul > * {
                cursor: pointer;
                margin: 0.5em 0em;
				white-space: nowrap;
				display: flex;
				flex-direction: column;
				color:black;
				text-decoration: none;
			}

			.dropdown-menu .materials ul > * {
				margin-bottom: 1em;
			}

	

.rubber-slider-handle {
    stroke:red;
}



/* svg:not([fill]) {
    fill: currentColor;
  }
  
  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  .sr-only--focus:focus {
    position: static;
    width: auto;
    height: auto;
  } */
  
  /* dispatched single taps w/o delay */
  /* a,
  area,
  button,
  input,
  label,
  select,
  summary,
  textarea,
  [tabindex] {
    touch-action: manipulation;
  }
   */
  
  /* html,
  body,
  #root {
    font-family: sans-serif;
    font-size: 14px;
    background-color: var(--color__bg);
    height: 100%;
    overflow: hidden;
  } */
  
  /* .app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  } */
  
  /* .title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 400;
    color: #222;
    padding: 20px 0;
  } */
  
  /* .rating-value {
    line-height: 1;
    align-self: flex-end;
    padding-right: 30px;
    font-size: 15rem;
    color: var(--rubber-slider-ui);
    opacity: 0.5;
  } */
  
.rubber-slider-input {
    position: absolute;
    top:0.5vw;
}

  .price .rubber-slider-handle {
      stroke: rgb(0, 0, 0);
      r:7;
  }

    .price .rubber-slider-track {
        stroke:black;
        stroke-width: 2;
        position: relative;
        left:13vw;
    }

    .price .rubber-slider-container g circle {
        fill:orange;
    }

    .price .rubber-slider-handle {
        fill:rgb(133, 130, 130);
        stroke-width: 2;
    }

    .price .rating-value {
        top:13.6%;
        position: relative;
    }

    .price .rubber-slider {
        overflow: visible;
      }
      
      .price .rubber-slider-input {
        outline: none;
      }
      
      .price .rubber-slider-handle {
        pointer-events: all;
      }
