body .cart-content {
    /* background-image: url(~/icons/sharp.svg);
    background-size: 100% 100%;
    background-position: center center; */

}

.cart-content {
    padding-top: 3vw;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    padding-bottom: 13vw;
}

.cart-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: 100% 95%;
    background-repeat: no-repeat;
    background-position: center center;
    top:1%;
    opacity: 0.25;
}

    .exclusive-order {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 7vh;
        padding-top: 1vh;
        text-align: center;
        font-size: 1.53vh;
        /* font-weight: bold; */
        text-transform: uppercase;
        font-family: 'Forward';
        text-decoration: underline;
        line-height: 1.3em;
    }

    .chosen-products {
        width:80%;
        margin: 0 auto;
    }

    .chosen-products > * {
        position: relative;
        z-index: 3;
    }

        .chosen-item {
            display: flex;
            flex-direction: row;
            padding-bottom: 1.5vw;
        }
            .chosen-item .item-background {
                height: 6vw;
                width: 6vw;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                display: flex;
                /* flex: 0.15; */
                border:solid 2px rgb(255, 255, 255);
                border-radius: 50%;
                box-shadow: 0vw 0.2vw 1px 2px rgba(128, 128, 128, 0.133);
                /* box-shadow: 0vw 0vw 0.9vw 0.9vw rgba(255, 255, 255, 0.63); */
            }

            .chosen-item .item-info-wrapper {
                /* border:solid 1px salmon; */
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content:space-between;
            }

                .item-info-wrapper .description {
                    display: flex;
                    flex:0.8;
                    padding-left: 3vw;
                    align-items: center;
                    font-size: 1.5vw;
                    line-height: 1.3em;
                    text-shadow: 0vw 0vw 0.8vw rgb(255, 255, 255);
                    position: relative;
                    /* border:solid 1px salmon; */
                }

                    .item-info-wrapper .description p {
                        text-shadow: 0vw 0vw 2vw 3vw rgb(255, 0, 0);
                    }

                .item-info-wrapper .price {
                    display: flex;
                    flex:0.26;
                    color:rgb(0, 0, 0);
                    font-family: 'Forward';
                    align-items: center;
                    font-size: 2.8vw;
                    /* border:solid 1px saddlebrown; */
                }

                .item-info-wrapper .delete {
                    outline: none;
                    height: 100%;
                    /* width: 5vw; */
                    /* height: 2.26vw; */
                    display: flex;
                    align-self: center;
                    align-items: center;
                    flex: 0.011;
                    border:none;
                    /* border:solid 1px rgb(0, 0, 0); */
                    background-color: rgba(255, 255, 255, 0);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url(~/icons/delete.svg);
                }

            .num-item {
                font-size: 1.5vw;
                /* color:red; */
                position: relative;
                top:0.5em;
                left:-0.2em;
                font-family: 'Forward';
            }

    .total-price {
        font-size: 3.5vw;
        padding-top: 3.5vw;
        font-family: 'Forward';
        width:80%;
        margin: 0 auto;
    }


        .total-price span {
            font-family: 'Fractal';
        }

        .total-price .in-total {
            margin-right: 0.3em;
        }

            .total-price .currency:after {
                width: 0.3em;
                height: 0.1em;
                left:-0.02em;
                top:.7em;
                color:red;
            }

.cart-content h1 {
    margin-top: 7vw;
}

.form-wrapper {
    width: 80%;
    /* border:1px solid salmon; */
    margin: 0 auto;
    font-family: 'Forward';
    display: flex;
    flex-direction: column;
}

    .form-wrapper .fields {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        --placeholder-color: rgb(0,0,0,0.5);
        --text-color: rgb(37,37,37);
    }

        .form-wrapper .fields > * {
            border:none;
            padding: 1.4vw 0vw;
            font-family: 'Forward-extra';
            font-size: 1.7vw;
            border-bottom:1px solid var(--text-color);
            margin-bottom:3px;
            width: 80%;
            outline: none;
            background-color: rgba(255, 99, 71, 0);
        }

        .form-wrapper input[data-empty] {
            border-bottom-color: var(--placeholder-color);
        }

        .form-wrapper input::placeholder {
            color: var(--placeholder-color);
        }

        .form-wrapper input:focus {
            outline:none;
            border-bottom-width: 4px;
            margin-bottom: 0;
            font-weight: bold;
        }

        .form-wrapper input[data-edited]:invalid,
        .form-wrapper input[data-edited]:invalid::placeholder {
            color: rgb(216, 39, 39);
            border-bottom-color:rgb(216, 39, 39)!important;
        }

    .form-wrapper .submit {
        width: 50%;
        margin: 0 auto;
        margin-top: 5vw;
        padding:1.2vw;
        text-align: center;
        font-family: 'Fractal';
        font-size: 2.5vw;
        border:solid 1px rgb(0, 0, 0);
        border-radius: 1vw;
        background-color: white;
        background-color: rgb(37, 35, 35);
        box-shadow: 0vw 0vw 2.0vw 0.3vw rgba(0, 0, 0, 0.068);
        cursor: pointer;
        color:white;
        outline: none;
    }

    .form-wrapper .submit::before {
        content: 'ОТПРАВИТЬ';
    }

    .form-wrapper .submit.en::before {
        content: 'SEND';
    }

        .form-loading .form-wrapper button.submit::before {
            content: 'Отправляется...';
        }

        .form-loading .form-wrapper button.submit.en::before {
            content: 'Is sending...';
        }

        .cart-content.done .form-wrapper button.submit::before {
            content: 'Заказ отправлен!';
        }

        .cart-content.done .form-wrapper button.submit.en::before {
            content: 'Order has been sent!';
        }

.form-loading {
    /* animation: loading-pulse 1.0s ease-in-out alternate infinite; */
}

.form-loading input:disabled {
    opacity: 0.55;
}

.form-loading button.submit {
    animation: loading-pulse 1.0s ease-in-out alternate infinite;
}

.cart-content.done button.submit {
    pointer-events: none;
}

.cart-content form:not(:valid) ~ button {
    pointer-events: none;
    opacity: 0.75;
    transform: scale(1);
}

.cart-content form:not(:valid) ~ button:before {
    content: 'Заполните поля';
}

.cart-content form:not(:valid) ~ button.en:before {
    content: 'Fill in the fields';
}



@media all and (max-width: 665px) {

    .chosen-products {
        width:90%;
    }

    .chosen-products > * {
    }

        .chosen-item {
            padding-bottom: 2.5vw;
            /* border: tan 1px solid; */
        }
            .chosen-item .item-background {
                height: 10vw;
                width: 10vw;
            }

            .chosen-item .item-info-wrapper {
            }

                .item-info-wrapper .description {
                    flex:0.9;
                    padding-left: 3vw;
                    font-size: 3vw;
                    line-height: 1.3em;
                }

                    .item-info-wrapper .description p {

                    }

                .item-info-wrapper .price {
                    display: flex;
                    /* flex:0.05;
                    font-size: 5vw; */
                    /* flex:0.38; */
                    flex:0.45;
                    font-size: 4vw;
                    margin: 0em 0em 0em 0.4em;
                }

                .item-info-wrapper .delete {
                    /* flex: 0.011; */
                    flex: 0.025;
                    position: relative;
                    height: 11vw;
                    top:-0.34vw;
                    right: -2.0vw;
                    align-self: flex-start;
                    align-items: center;
                    /* right: 0vw; */
                }

            .num-item {
                font-size: 2.5vw;
                top:0.3em;
                left:0.6em;
            }

    .cart-content h1 {
        margin-top: 15vw;
        font-size: 7vw;
    }

    .total-price {
        font-size: 5vw;
        padding-top: 6.5vw;
        width:90%;

    }

        .total-price .in-total {
            /* margin-right: 3.3em !important;
            color:red; */
        }


    .form-wrapper {
        width: 98.2%;
    }

        .form-wrapper .fields {
            /* display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; */
        }

            .form-wrapper .fields > * {
                border:0.1vw solid rgba(255, 255, 255, 0);
                padding: 2.4vw 0vw;
                font-size: 4.7vw;
                border-bottom:0.1vw solid var(--text-color);
                margin-bottom:2vw;
                width: 90%;
                /* outline: none;
                background-color: rgba(255, 99, 71, 0); */
            }

        .form-wrapper .submit {
            width: 90%;
            margin: 0 auto;
            margin-top: 5vw;
            padding:3vw;
            text-align: center;
            font-family: 'Fractal';
            font-size: 6vw;
            border:solid 1px rgb(0, 0, 0);
            border-radius: 1vw;
            background-color: white;
            background-color: rgb(37, 35, 35);
            box-shadow: 0vw 0vw 2.0vw 0.3vw rgba(0, 0, 0, 0.068);
            cursor: pointer;
            color:white;
            outline: none;
        }
}


/* @media all and (max-width: 455px) {

    .chosen-products {
        width:90%;
    }

        .chosen-item {
            padding-bottom: 8.5vw;
            margin-bottom: 1.5em;
        }
            .chosen-item .item-background {
                height: 27vw;
                width: 27vw;
                position: relative;
                margin-top: 1em;
            }

                .item-info-wrapper .description {
                    flex:1;
                    padding-left: 5vw;
                    font-size: 4.5vw;
                    line-height: 1.3em;
                }

                .item-info-wrapper .price {
                    display: flex;
                    flex:0.55;
                    font-size: 5vw;
                    align-items: flex-start;
                    margin: 0em 0.2em;
                    position: absolute;
                    bottom: 24%;
                    padding-left:4.0vw;
                }

                .item-info-wrapper .delete {
                    height: 7vw;
                    display: flex;
                    align-self: flex-start;
                    align-items: center;
                }

            .num-item {
                font-size: 1.5vw;
                top:0.5em;
                left:-0.2em;
            }

    .total-price {
        font-size: 7vw;
        padding-top: 9.5vw;
        width:90%;
        position: relative;
    }

        .total-price span {
            margin-right: 0.5em;
        }

} */

@media all and (max-width: 455px) {
    .chosen-products {
        width:90%;
    }

        .chosen-item {
            padding-bottom: 2.5vw;
            /* border: tan 1px solid; */
        }
            .chosen-item .item-background {
                height: 12vw;
                width: 12vw;
            }

                .item-info-wrapper .description {
                    flex:0.73;
                    padding-left: 4.5vw;
                    font-size: 4.5vw;
                    line-height: 1.3em;
                    top:-1vw;
                }

                .item-info-wrapper .price {
                    display: flex;
                    flex:0.55;
                    font-size: 4.7vw;
                    align-items: flex-start;
                    margin: 0;
                    margin-left: 0.3em;
                }

                    .price .currency:after {
                        left:-0.02em;
                        top:.6em;
                    }

                .item-info-wrapper .delete {
                    /* flex: 0.011; */
                    /* flex: 0.1; */
                    height: 7vw;
                    display: flex;
                    /* align-items: flex-start;
                    align-items: baseline; */
                    /* border: solid 1px rebeccapurple; */
                    align-self: flex-start;
                    align-items: center;
                }

            .num-item {
                font-size: 2.3vh;
                top:-0.9em;
                left:0.07em;
                /* color:red; */
            }

    .total-price {
        font-size: 7vw;
        padding-top: 9.5vw;
        width:90%;
        position: relative;
        /* left: -0.8vw; */
    }

        .total-price span {
            /* margin-right: 0.5em; */
        }

}