.cart-wrapper {
    padding-top: 3vw;
    width:80vw;
    /* border:solid 1px salmon; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

    .chosen-products {
        
    }

        .chosen-item {
            display: flex;
            flex-direction: row;
            padding-bottom: 1vw;
        }
            .chosen-item .item-background {
                height: 6vw;
                width: 6vw;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                display: flex;
                /* flex: 0.15; */
                /* border:solid 1px rgb(0, 0, 0); */
                border-radius: 50%;
                box-shadow: 0vw 0vw 0.4vw 0.2vw rgba(128, 128, 128, 0.342);
            }

            .chosen-item .item-info-wrapper {
                /* border:solid 1px salmon; */
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content:space-between;
            }

                .item-info-wrapper .description {
                    display: flex;
                    flex:0.8;
                    padding-left: 3vw;
                    align-items: center;
                    font-size: 1.5vw;
                    line-height: 1.3em;
                    /* border:solid 1px salmon; */
                }

                .item-info-wrapper .price {
                    display: flex;
                    flex:0.05;
                    color:rgb(0, 0, 0);
                    font-family: 'Forward';
                    align-items: center;
                    font-size: 2.8vw;
                    /* border:solid 1px saddlebrown; */
                }

                .item-info-wrapper .delete {
                    outline: none;
                    height: 100%;
                    /* width: 5vw; */
                    /* height: 2.26vw; */
                    display: flex;
                    align-self: center;
                    align-items: center;
                    flex: 0.011;
                    border:none;
                    /* border:solid 1px rgb(0, 0, 0); */
                    background-color: white;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url(~/icons/delete.svg);
                }

            .num-item {
                font-size: 1.5vw;
                /* color:red; */
                position: relative;
                top:0.5em;
                left:-0.2em;
                font-family: 'Forward';
            }

    .total-price {
        font-size: 3.5vw;
        padding-top: 3.5vw;
        font-family: 'Forward';
    }

        .total-price span {
            font-family: 'Fractal';
            margin-right: 0.5em;
        }


