.search {
    border: 1px solid salmon;
}

.search input {
    width: 30vw;
    background: linear-gradient(to left, #ededed, #ffffff);
    outline: none;
    border:none;
    border-radius: 0.5vw;
    height: 1.797vw;

}