.search {
    /* border: 1px solid salmon; */
    flex:2;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    --search-height: 1.46vw;
    position: relative;
}

.search input {
    width: 20.125vw;
    background: linear-gradient(to left, #ededed, #ffffff);
    outline: none;
    border: none;
    border-radius: 0.5vw;
    height: var(--search-height);
    position: relative;
}

.search::before {
    content: '';
    display: block;
    width: var(--search-height);
    height: var(--search-height);
    position: relative;
    background-image: url(~/icons/search-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0vw;
    
    /* border: 1px solid salmon; */
}

.search-list {
    width:42%;
    display: block;
    border:rgb(255, 152, 126) solid 1px;
    height: 7vw;
    position: absolute;
    top: 58%;
    border-radius: 0vw 0vw 3vw 3vw;
    background-color: rgb(255, 196, 189);
}



/* @media all and (max-width: 865px) {

.search {
    --mobile-search-height: 4.46vw;
}
    
    .search input {
        width: 52.125vw;
        height: 5vw;
        position: relative;
        left:0vw;
        font-size: 3.7vw;
        border: black 1px solid;
    }

    .search::before {
        content: '';
        display: block;
        width: var(--mobile-search-height);
        height: var(--mobile-search-height);
        position: absolute;
        height: 50%;
        left: 5vw;
        top:5vw;
        border: black 1px solid;
    }
} */