.about-container {
    width: 100%;
    background: url(~/icons/cartbg2.png) no-repeat center center;
    background-size: 100% 95%;

}

.about-container .about {
    width: 78%;
    margin: auto;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.about-container .about p {
    padding: 3.5vh;
    font-size: 3.5vh;
    font-weight: 800;
    line-height: 170%;
    white-space: pre-line;
    color: #000000;
}

.about-container .about p span {
    font-family: Forward-extra;
    font-size: 170%;
    font-weight: normal;
    opacity: 0.5;
}