.carousel {
	display: flex;
	position: relative;
}

	.carousel-scroller {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
		align-content: stretch;
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		position: relative;
		height: 100%;
	}

	.carousel-scroller::-webkit-scrollbar {
		display: none;
	}

		.carousel-item {
			display: flex;
			scroll-snap-align: start;
			/* flex:0 0 30.6vw; */
			position: relative;
		}

			.carousel-item > * {
				margin-right: 3vw;
				width:26.5vw;
			}

			.carousel-item:last-child .feedback{
				margin-right: 0vw;
			}

	.carousel-pagination {
		position: absolute;
		display: flex;
		top: 110%;
		width: 100%;
		justify-content: center;
	}

		.carousel-page-btn {
			height: 1.4vw;
			width:1.4vw;
			background-color: #E2E2E2;
			margin-right: 0.494vw;
			border-radius: 50%;
			transition: opacity 0.35s ease-in-out;
			cursor: pointer;
		}

		.carousel-page-btn:last-child {
			margin-right: 0;
		}

		.carousel-page-btn.active { 
			background-image: url(~/icons/diamond2.jpg);
			background-size: 125% 125%;
			background-position: center center;
			border:0.11vw solid black;
			transform: scale(1.1);
			opacity: 1;
		}

	.carousel-buttons {
		position: absolute;
		top:40%;
		background: none;
	}

		.carousel .back,
		.carousel .forward {
			background-image: url(~/icons/arrow.svg);
			background-repeat: no-repeat;
			background-size: contain;
			border:none;
			outline: none;
			cursor: pointer;
			height: 5vw;
			width:0.1vw !important;
			position: absolute;
			top:45%;
			opacity: 0.3;
			z-index: 3;
		}

		.carousel .back {
			left:1vw;
			transform: scaleX(-1);
			background-color: rgba(255, 0, 0, 0) !important;
		}

		.carousel .forward {
			/* right:-9vh; */
			right:1vw;
			background-color: rgba(255, 0, 0, 0) !important;
		}


@media all and (max-width: 665px) { 

	.carousel-pagination {
		top: 105%;
		/* margin-bottom: 23vw!important; */
		padding-bottom: 3vw!important;
	}

		.carousel-page-btn {
			height: 3.4vw;
			width:3.4vw;
			background-color: #E2E2E2;
			margin-right: 1.1vw;
			border-radius: 50%;
			transition: opacity 0.35s ease-in-out;
			cursor: pointer;
			margin-bottom: 29vw;
		}
}

@media all and (max-width: 455px) { 
	.carousel .back,
	.carousel .forward {
		height: 8vw;
	}
}