.footer-wrapper {
    height: 23vw;
    background-image: url("data:image/svg+xml,%3Csvg width='1438' height='309' viewBox='0 0 1438 309' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1438 45.9516L302.5 0L-2 30.8212L-2 309L1438 309L1438 45.9516Z' fill='%23121111'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 0;
    display: flex;
	padding: 0.8vw var(--mega-padding);
	letter-spacing: 0.09em;
}
  
.contacts {
    display: flex;
    /* border: solid salmon 1px; */
    flex: 2.8;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
	font-size: 2vw;
    padding-top: 5vw;
	font-family: 'Forward-extra';
}
  
	.contacts * {
		padding-bottom: 0.5em;
	}
	
	.contacts .phone {
		display: flex;
		flex-direction: column;
	}

	.contacts .phone a {
		padding-right: 2em;
		font-size: 1.8vw;
	}

	.self-delivery {
		font-size: 1.3vw;
		padding-bottom: 1em;
	}
	
	.contacts .address {
		display: flex;
	}

		.contacts .address a {
			cursor: pointer;
			font-size: 2.7vw;
		}
	
	.contacts a {
		text-decoration: none;
		color: white;
		
	}
	
	.contacts span {
		font-size: 1.4vw;
		padding-bottom: 1.0em;
	}
	
	.social {
		display: flex;
		/* border: solid salmon 1px; */
		flex: 1;
		height: 5vw;
		position: relative;
		top: 10vw;
	}
	
	.social * {
		display: flex;
		flex: 1;
		/* background-size: contain;
		background-repeat: no-repeat;
		background-position: center right; */
		cursor: pointer;
		mask-mode: alpha;
		mask-repeat: no-repeat;
		mask-size: 99.0% 99.0%;
		mask-position: center center;
		background-color: rgb(255, 255, 255);
	}

	.social a {
		background-color: rgb(17, 17, 17);
	}
	
	.telegram {

		/* mask-image: url(~/icons/telegram.svg); */
		mask-image: url(~/icons/mail1.svg);
		mask-mode: alpha;
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
		background-color: rgb(255, 255, 255);
	}

	.telegram a {
		position: absolute;
		height: 100%;
		width:100%;
		background-color: rgba(255, 255, 255, 0);
	}
	
	.facebook {
		mask-image: url(~/icons/facebook.svg); 
	}
	
	.instagram {
		mask-image: url(~/icons/instagram.svg); 
	}
  

@media all and (max-width: 665px) { 

	.footer-wrapper {
		height: 60vw;
		background-position: 20% center;
		margin-top: 5vw;
		/* border:1px solid salmon; */
	}

	.contacts {
		display: flex;
		flex-direction: column;
	}

		.contacts > * {
			/* padding-bottom: 1.1em; */
			font-size: 3vw;
			position: relative;
			bottom: -8vw;
			/* border:red 1px solid; */
			/* border: 1px solid salmon; */
		}

			.contacts .phone {
				/* border: 1px solid salmon; */
				display: flex;
				flex-direction: column;
			}
		
				.contacts .phone a {
					padding-right: 1.2em;
					/* font-size: 7vw; */
					font-size: 5vw;
				}

				.self-delivery {
					font-size: 2.3vw;
					padding-top: 1em;
				}

			.contacts .address a {
				font-size: 4.1vw;
				padding-top: 3vw;
				/* color:red; */
			}

			.contacts span {
				font-size: 2.5vw;
				padding-top: 1em;
			}

	.social {
		display: flex;
		flex-direction: column;
		height: 42vw;
		/* border:1px solid salmon; */
		right:-0.5vw;
		top:20%;
		flex:0.43;
	}

		.social * {
			display: flex;
			flex:1;
			margin: 0.1vw;
		}

		.social a {
			/* background-color: rgb(17, 17, 17); */
		}


}