.footer-wrapper {
    height: 19vw;
    background-image: url("data:image/svg+xml,%3Csvg width='1438' height='309' viewBox='0 0 1438 309' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1438 45.9516L302.5 0L-2 30.8212L-2 309L1438 309L1438 45.9516Z' fill='%23121111'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 0;
    display: flex;
    padding: 0vw var(--mega-padding);
  }
  
  .contacts {
    display: flex;
    /* border: solid salmon 1px; */
    flex: 2.8;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 2.0vw;
    padding-top: 5vw;
    font-family: 'Forward-extra';
  }
  
  .contacts * {
    padding-bottom: 1vw;
  }
  
  .contacts .phone {
    display: flex;
  }
  
  .contacts .address {
    display: flex;
  }
  
  .contacts a {
    text-decoration: none;
    color: white;
  }
  
  .contacts span {
    font-size: 1.4vw;
  }


  
  .social {
    display: flex;
    /* border: solid salmon 1px; */
    flex: 1;
    height: 5vw;
    position: relative;
    top: 10vw;
  }
  
  .social * {
    display: flex;
    flex: 1;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center right; */
    cursor: pointer;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: rgb(255, 255, 255);
  }
  
  .telegram {

    mask-image: url(~/icons/telegram.svg);
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: rgb(255, 255, 255);
  }
  
  .facebook {
    mask-image: url(~/icons/facebook.svg); 
  }
  
  .instagram {
    mask-image: url(~/icons/instagram.svg); 
  }
  